Repository AIngleLab/aae, changes with the labels that .github/labeler.yml gives for each.
All labels: C, C++, C#, Java, Js, Perl, Php, Python, Ruby, Rust, build, website

INIT
  README.md
Labels: none

INIT
  README.md
Labels: none

Update
  lang/c/README
Labels: C

INIT
  lang/csharp/Backup/AIngle.sln
  lang/csharp/UpgradeLog.htm
  lang/csharp/common.props
  lang/csharp/src/apache/codegen/AIngle.codegen.csproj
  lang/csharp/src/apache/codegen/Properties/AssemblyInfo.cs
  lang/csharp/src/apache/main/AIngle.main.csproj
  lang/csharp/src/apache/msbuild/Properties/AssemblyInfo.cs
  lang/csharp/src/apache/test/Properties/AssemblyInfo.cs
  lang/csharp/stylecop.json
Labels: C#

AIngle
  lang/java/pom.xml
Labels: Java, build

INIT
  lang/csharp/README.md
Labels: C#

Update Nuget Csharp
  README.md
Labels: none

Create SECURITY.md
  SECURITY.md
Labels: none

Update README.md
  lang/csharp/README.md
Labels: C#

.github/labeler.yml:

# Pull Request Labeler Github Action Configuration: https://github.com/marketplace/actions/labeler

C: ["lang/c/**/*"]
C++: ["lang/c++/**/*"]
C#: ["lang/csharp/**/*"]
Java: ["lang/java/**/*"]
Js: ["lang/js/**/*"]
Perl: ["lang/perl/**/*"]
Php: ["lang/php/**/*"]
Python: ["lang/py/**/*"]
Ruby: ["lang/ruby/**/*"]
Rust: ["lang/rust/**/*"]
build: ["**/*Dockerfile*", "**/*.sh", "**/*pom.xml", ".github/**/*"]
website: ["doc/**/*"]
